<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Overcooked</title>
    <link rel="Favicon" href="static/favicon.ico"/>

    <script src="static/lib/jquery-min.js" type="text/javascript"></script>
    <script src="static/lib/d3.v3.min.js" type="text/javascript"></script>
    <script src="static/lib/babel.min.js" type="text/javascript"></script>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/survey-jquery@1.9.51/survey.jquery.min.js"></script>
    <link href="https://unpkg.com/survey-core@1.9.51/defaultV2.min.css" type="text/css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.min.js"></script>

    <script src="static/js/graphics.js" type="text/javascript"></script>
    <!-- <script src="static/js/dummy_graphics.js", type="text/javascript"></script> -->

<!--    <script>$(function(){$("#survey").load("static/templates/survey.html");});</script>-->

    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/survey.css">

</head>
<body>
<div id="config" style="display:none;">{{config}}</div>

<!-- <h3 id="game-title" style="text-align: center; font-size: 24pt; font-weight:bold;">Overcooked</h3>
<div id="overcooked-container" class="center">
    <div id="game-over" style="display:none">
        <h3>Rounds Complete</h3>
    </div>
    <div id="overcooked"></div>
    {% if not psiturk %}
    <button id="finish" class="sd-btn sd-btn--action sd-navigation__complete-btn" style="display:none">Back To Game</button>
    {% endif %}
    <div id="error-exit" style="display:none">Survey ended unexpectedly (probably due to server side error)</div>
</div>

<div id="new-layout" class="center" style="display:none; margin-top: 0px; font-size: 15pt; font-weight:600; text-decoration-line: underline overline;">
    <p>New Layout!.</p>
</div> -->


<div id="surveyElement" style="display:inline-block;width:100%"></div>
<script type="text/javascript" src="static/js/likert.js"></script>
<div id="rankingElement" style="display:inline-block;width:100%;display:none"></div>
<script type="text/javascript" src="static/js/ranking.js"></script>

<div id="agents-imgs" style="display:none;" class="center">
    <div style="display: inline-block; width: 250px; vertical-align: top;">
        <img src="static/assets/blue_chef.png" alt='missing' class="agent_img"/>
        <p style="word-wrap: break-word;overflow-wrap: break-word;">
            This is you.
        </p>
    </div>

    <div style="display: inline-block; width: 250px; vertical-align: top;">
        <img id="teammate-img" src="static/assets/red_chef.png" alt='missing' class="agent_img" />
        <p id="teammate-desc" style="word-wrap: break-word;overflow-wrap: break-word;">
            This will be your teammate for the next round.
        </p>
    </div>
</div>

<div id="control" class="center">
    <button id="start-next-round" class="sd-btn sd-btn--action sd-navigation__complete-btn">Start Next Round</button>
</div>

<!-- <div id="agents-ordering" style="display:none;" class="center">
    <h4>Order of agents played with (for the current layout):.</h4>
    <div id="agent-1" class="mini_agent_img_div">
        <img id="agent-1-img" src="static/assets/red_chef.png" alt='missing' class="agent_img_mini" />
        <p  id="agent-1-dsc" style="word-wrap: break-word;overflow-wrap: break-word;">1st</p>
    </div>
    <div id="agent-2" class="mini_agent_img_div">
        <img id="agent-2-img" src="static/assets/red_chef.png" alt='missing' class="agent_img_mini" />
        <p id="agent-2-dsc" style="word-wrap: break-word;overflow-wrap: break-word;">2nd</p>
    </div> -->

<!--    <div id="agent-3" class="mini_agent_img_div">-->
<!--        <img id="agent-3-img" src="static/assets/red_chef.png" alt='missing' class="agent_img_mini" />-->
<!--        <p id="agent-3-dsc" style="word-wrap: break-word;overflow-wrap: break-word;">3rd</p>-->
<!--    </div>-->

<!--    <div id="agent-4" class="mini_agent_img_div">-->
<!--        <img id="agent-4-img" src="static/assets/red_chef.png" alt='missing' class="agent_img_mini" />-->
<!--        <p id="agent-4-dsc" style="word-wrap: break-word;overflow-wrap: break-word;">4th</p>-->
<!--    </div>-->

<!--    <div id="agent-5" class="mini_agent_img_div">-->
<!--        <img id="agent-5-img" src="static/assets/red_chef.png" alt='missing' class="agent_img_mini"/>-->
<!--        <p id="agent-5-dsc" style="word-wrap: break-word;overflow-wrap: break-word;">5th</p>-->
<!--    </div>-->
</div>

<div id="completed" class="text-center" style="display:none;">
    <h3 id="completed-str">Thank you for completing the survey. Please click the button to return to Prolific.co</h3>
    <a class="btn-cta sd-btn sd-btn--action sd-navigation__complete-btn" href="https://app.prolific.co/submissions/complete?cc=C17ECJOY" style="display: inline-block; margin-top: 10px;">Return to Prolific.co</a>
</div>

<noscript>
    <h1>Warning: Javascript seems to be disabled</h1>
    <p>This website requires that Javascript be enabled on your browser.</p>
    <p>Instructions for enabling Javascript in your browser can be found
        <a href="http://support.google.com/bin/answer.py?hl=en&answer=23852">here</a></p>
</noscript>
<script src="static/js/agent_comp.js" type="text/javascript"></script>
</body>
</html>
